<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="vivek nimbolkar" content="I am the author of this website">
    <title>ResumeBuilder | CV Maker</title>
    <link rel="stylesheet" href="assets/bootstrap-5.1.3/css/bootstrap.css">
    <link rel="stylesheet" href="assets/tailwind/tailwind.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="assets/animate-css/animate.min.css">
</head>

<body onscroll="hideArrow();">
    {{>navbar}} 

    <!--Landing section-->
    <div class="container-fluid " id="landing-first-section">
        <div class="row">
            <div class="col-lg-6 p-32">
                <div class="landing-body">
                    <h1 class="text-6xl animate__animated animate__bounce">We help to <strong
                            class="text-primary">Build</strong> <br> your resume</h1>
                    <a href="/explore"><button class="btn btn-outline-primary mt-4">Create Now</button></a>
                </div>
            </div>
            <!--Side Image of landing page-->
            <div class="col-lg-6">
                <img src="images/engineer.jpg" class="img-fluid" alt="Engineers working">
            </div>
        </div>
        <center class="arrow text-4xl text-gray-700">&darr;</center>
    </div>

    <!---More themes to select-->
    {{>morethemes}}
    <!--Statistic-->
    {{> statistic}}
    <!---Footer-->
    {{>footer}}

    <script src="assets/bootstrap-5.1.3/js/bootstrap.min.js"></script>
    <script src="js/script.js"></script>
</body>

</html>