<div id="themes" class="container-fluid mt-4 bg-blue-50">
    <h1 class="text-3xl p-3 text-center">Our Themes</h1>
    <div class="row p-3">
        
        <div class="col-lg-2 theme">
            <img src="images/theme1.jpg" class="img-fluid border-4 border-gray-600" width="200px" alt="Theme Image">
            <div class="card-btn text-center">
                <a href="/theme1"><button class="animate__animated animate__bounceIn btn btn-primary">Create</button></a>
            </div>


        </div>
        <div class="col-lg-2 theme .bg-center">
            <img src="images/theme2.jpg" class="img-fluid border-4 border-gray-600" width="200px" alt="Theme Image">
            <div class="card-btn text-center">
                <a href="/comming"><button class="animate__animated animate__bounceIn btn btn-primary">Create</button></a>
            </div>
        </div>
        

    </div>
</div>